<form class="forms-row">
  <div class="forms-group">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          name="nombre"
          placeholder="Nombre"
          [(ngModel)]="nombre"
        />
      </div>
      <div class="col">
        <input
          type="text"
          class="form-control"
          name="apellido"
          placeholder="Apellido"
          [(ngModel)]="apellido"
        />
      </div>
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="agregarPersona()"
        >
          Agregar Persona
        </button>
      </div>
    </div>
  </div>
</form>
